In [132]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [133]:
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1', headers=headers).text

In [134]:
 soup =BeautifulSoup(webpage, 'lxml')

In [135]:
#print(soup.prettify())

In [136]:
#soup.find_all('h1')[0].text

In [137]:
 #for i in soup.find_all('h2'):
        #print(i.text.strip())

In [138]:
 #for i in soup.find_all('p', class_='rating'):
       # print(i.text.strip())

In [139]:
#for i in soup.find_all('a', class_='review-count'):
        #print(i.text.strip())

In [140]:
#for i in soup.find_all('p', class_='infoEntity'):
        #print(i.text.strip())

In [141]:
company= soup.find_all('div', class_='company-content-wrapper')

In [142]:
len(company)

30

In [143]:
#qqq

In [144]:
#df

In [151]:
final = pd.DataFrame()

for j in range(1,333):
    url ='https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    webpage=requests.get(url, headers=headers).text
    
    soup =BeautifulSoup(webpage, 'lxml')
    company= soup.find_all('div', class_='company-content-wrapper')

    name = []
    rating = []
    review = []
    ctype = []
    hq = []
    old = []
    employees =[]

    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('p', class_='rating').text.strip())
        review.append(i.find('a', class_='review-count').text.strip())
        try:
            ctype.append(i.find_all('p', class_='infoEntity')[0].text.strip())
        except:
            ctype.append(np.nan)
        try:
            hq.append(i.find_all('p', class_='infoEntity')[1].text.strip())
        except:
            hq.append(np.nan)
        try:
            old.append(i.find_all('p', class_='infoEntity')[2].text.strip())
        except:
            old.append(np.nan)
        try:
            employees.append(i.find_all('p', class_='infoEntity')[3].text.strip())
        except:
            employees.append(np.nan)
    d = {'name': name , 'rating': rating, 'review': review, 'ctype':ctype, 'hq': hq, 'old': old, 'employees': employees}

    df = pd.DataFrame(d)
    final = final.append(df, ignore_index=True)

In [153]:
final

,name,rating,review,ctype,hq,old,employees
0,TCS,3.9,(27.7k Reviews),Public,"Mumbai,Maharashtra + 208 more",54 years old,1 Lakh+ employees (India)
1,Accenture,4.0,(21.1k Reviews),Public,"Dublin,Dublin + 121 more",33 years old,1 Lakh+ employees (India)
2,Cognizant,3.9,(19.4k Reviews),Private,"Teaneck,New Jersey + 72 more",28 years old,1 Lakh+ employees (India)
3,ICICI Bank,4.0,(18.8k Reviews),Public,"Mumbai,Maharashtra + 905 more",28 years old,50k-1 Lakh employees (India)
4,HDFC Bank,4.0,(16.6k Reviews),Public,"Mumbai,Maharashtra + 977 more",28 years old,1 Lakh+ employees (India)
...,...,...,...,...,...,...,...
9954,Gtec Computer Educ...,3.8,(38 Reviews),Private,Calicut + 13 more,21 years old,501-1k employees (Global)
9955,Sandeep,2.9,(38 Reviews),Public,Kolkata + 14 more,40 years old,NaN
9956,SRS Cinemas,4.1,(38 Reviews),Faridabad + 12 more,18 years old,NaN,NaN
9957,Currie & Brown,4.2,(38 Reviews),Private,London + 9 more,146 years old,1k-5k employees (Global)
9958,Acg Pampac Machine...,4.5,(38 Reviews),Private,"Mumbai,Maharashtra + 2 more",61 years old,1k-5k employees (India)

In [154]:
final.to_csv('companies.csv')